#Phihom- Phishing detection system
#ignore the following files and folders
venv/
__pycache__/
*.py[cod]

#Java and IntelliJ files
.idea/
*.iml
out/

#Data files too large
*.csv
*.arff
*.docx

#OS files
.DS_Store
Thumbs.db

postman/
.postman/